<!-- Header Section -->
<div class="p-6 flex gap-2 border-b border-[#e4e4e7] bg-gray-50 rounded-tl-lg rounded-tr-lg">
    <img src="assets/gear.svg" alt="Settings" width="24" height="24" />
    <h3 class="font-bold text-gray-900 text-2xl">W-2 Active Recipient Services</h3>
</div>

<!-- Body Section -->
<div class="flex flex-col p-6 h-[calc(90vh-120px)] overflow-y-scroll">
    <h3 class="text-gray-900 font-bold mb-2">Available Services</h3>
    <p class="text-sm text-gray-600 mb-6">Configure services for W-2 Active Recipients at Acme Corporation. Click on a
        service to customize its settings.</p>

    <!-- Standard Services -->
    <div class="">
        <h4 class="font-medium text-gray-900">Standard Services</h4>

        <!-- Standard services cards container -->
        <div>
            <div class="flex flex-wrap gap-4 mt-4">
                @for (s of services; track s.name) {
                    <div class="w-full md:basis-[calc(50%-0.5rem)] border border-gray-300 rounded-lg p-4 hover:shadow-lg transition-shadow cursor-pointer flex justify-center gap-3"
                        (click)="editService(s)">
                        <div
                            class="w-10 h-10 bg-white border border-[#e4e4e7] rounded-lg flex items-center justify-center flex-shrink-0">
                            <img src="{{ s.icon }}" alt="Truck Icon" class="h-[20px] w-[20px] text-gray-600" />
                        </div>
                        <div>
                            <h5 class="font-medium text-gray-900 mb-2">{{s.name}}</h5>
                            <p class="text-sm text-gray-600">{{s.description}}</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>